<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">
        <span>My Predictions</span>
      </h1>
    </div>
  </div>

  <%= form_for(@prediction_set, url: prediction_path(@prediction_set), method: :put) do |f| %>
    <div class="row" id="predictions-content">
      <%= f.fields_for :predictions do |fp| %>
        <% if fp.object.match.active %>
          <div class="col">
            <%= render 'prediction', f: fp, prediction: fp.object %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">
      <%= submit_tag %>
    </div>

  <% end %>
</div>
