<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">
        <span>My Predictions</span>
      </h1>
    </div>
  </div>

  <div id="predictions-content">
    <div class="row">
      <%= form_for(@prediction_set,
        url: prediction_path(@prediction_set), method: :put) do |f| %>
        <%= f.fields_for :predictions do |f_prediction| %>
          <div class="col-sm-12">
            <%= render 'prediction', f: f_prediction %>
          </div>
        <% end %>
        <%= submit_tag %>
      <% end %>
    </div>
  </div>
</div>
