
// Header
#navbar-top {
  background: image-url('background-header.jpg') no-repeat center center;
  background-size: cover;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
#navbar-top .navbar-brand {
  height: 140px;
  display: flex;
  align-items: center;
}
#navbar-top .navbar-nav > li > a {
  color: #FFF;
}
#navbar-top .navbar-nav > .open > a,
#navbar-top .navbar-nav > .open > a:hover,
#navbar-top .navbar-nav > .open > a:focus {
  background-color: transparent;
}

#navbar-top .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
#navbar-top .user-img {
  margin-right: 10px;
}

#navbar-top .logo {
}

#header-menu {
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

// Menu
#navbar-menu {
  background-color: $blue;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
#navbar-menu .nav  {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

#navbar-menu .navbar-nav > li > a {
  color: #FFF;
}
#navbar-menu .navbar-nav > li > a:hover {
  color: #F00;
}
#navbar-menu .navbar-nav > li.active a {
  background-color: $skyblue;
}
#navbar-menu .navbar-nav > li.active a:hover {
  color: #FFF;
}

