

.leaderboard-table {
  margin: 0px auto;
}

.leaderboard-table .user-image {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.leaderboard-table td.number {
  width: 30px;
  line-height: 30px;
}

.leaderboard-table td {
  line-height: 30px;
}

span.score-box {
  display: inline-block;
  width: 45px;
  text-align: center;
  border: 1px solid #999;
  font-size: 14px;
  height: 30px;
  background-color: #CCC;
}
