

#predictions-table {
  width: 900px;
  margin: 0px auto;
}

#predictions-table input.score {
  width: 45px;
  text-align: center;
  border: 1px solid #999;
  font-size: 14px;
  height: 30px;
}

#predictions-table input.score[disabled=disabled] {
  background-color: #CCC;
}

#predictions-table .flag {
  margin: 0px 5px;
  border: 1px solid #999;
  height: 30px;
}

#predictions-table td {
  line-height: 30px;
}

#predictions-table .closing {
  background-color: #FCC;
}

#predictions-table .score-label {
  min-width: 60px;
}

#predictions-list .submit-button {
  margin-top: 30px;
}
