

input.score {
  width: 45px;
  text-align: center;
  border: 1px solid #BBB;
  font-size: 14px;
  height: 30px;
}
input.score[disabled=disabled] {
  background-color: #CCC;
}

.team-selector {
  width: 150px;
  font-size: 14px;
  height: 30px;
  border: 1px solid #BBB;
}

#predictions-table {
  margin: 0px auto;
}

#predictions-table .flag {
  margin: 0px 5px;
  border: 1px solid #BBB;
  height: 30px;
}

#predictions-table td {
  line-height: 30px;
}

#predictions-table .closing {
  background-color: #FCC;
}

#predictions-table .score-label {
  min-width: 60px;
}

#predictions-list .submit-button {
  margin-top: 30px;
}

td.chevron {
  cursor: pointer;
}

td.stats {
  text-align: center;
  background-color: #FFF;
}

td.stats .chart {
  display: inline-block !important;
}

td.stats .chart-box .chart-title {
  font-size: 12px;
}

td.points {
}
td.points .green {
  color: green;
}

td.points .red {
  color: red;
}


.phase-col .phase-name {
  font-size: 14px;
  border: 1px solid blue;
  width: 100%;
}
.phase-match-box {
  margin: 0px;
  height: 100px;
}
.phase-col-3 .phase-match-box {
  height: 200px;
  padding: 70px 0px;
}
.phase-col-4 .phase-match-box {
  height: 400px;
  padding: 170px 0px;
}
.phase-col-5 .phase-match-box {
  height: 300px;
  padding: 0px 0px;
}
.phase-col-6 .phase-match-box {
  height: 500px;
  padding: 50px 0px;
}
