<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Invite Users</h4>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  <div class="form-group col-sm-5">
    <%= form_for(leaderboard,
      url: myleaderboard_path(leaderboard), remote: true, method: :put) do |f| %>
      <%= collection_select(:user_id, users, :id, :name, { class: ' team-selector' }) %>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
  <%= link_to 'Invite', myleaderboard_invite_confirm_path(leaderboard), remote: true,
    class: 'btn btn-danger' %>
</div>
